@font-face {
  font-family: LatoRegular;
  src: url(./fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoBold;
  src: url(./fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: Fred;
  src: url(./fonts/Lato/FredokaOne-Regular.ttf);
}

/* Remove padding and margin */ 
*  { 
  margin: 0; 
  padding: 0; 
  border: 0; 
}

.container  {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F7F1E3;
}
.container img {
  max-width: 75%;
  margin-bottom: 1vh;
}

h1 {
  font-family: LatoBold;
  color: #353560;
  font-size: 4vh;
  margin-bottom: 2vh;
}

.link-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 58px;
}
.github {
  height: 35px;
  width: 35px;
  background-image: url(./images/git.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.videoBtn {
  text-decoration: none;
  color: #F7F1E3;
  font-family: Fred;
  font-weight: 50;
  padding: 8px 15px;
  border-radius: 18px;
  background-color: #706FD3;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}
.videoBtn:hover {
  box-shadow: none;
}